:root {
  --color-white: #fff;
  --color-black: #000;

  --color-background: #efefef;
  --color-top: #535971;

  --color-background-form: #e6e6f0;
  --color-font-title: #4e4958;
  --color-font-title-description: #c1bccc;

  --color-button: #ff5374;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
}

body::before {
  content: "";
  background-color: var(--color-top);
  height: 436px;
  display: block;
}

header {
  width: 750px;
}
